.footer{
    background-image: url('https://wallpapers.com/images/featured/laptop-murjp1nk4lp1idlt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}